.list-group-item {
  line-height: 2.5;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: #f4f4f4;
  background-image: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-position: bottom left;

}

body {
  overflow-x: hidden;
}

h3 {
  font-size: 27px;
}

p {
  margin: 16px 0;
  font-size: 13px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  width: 100%;
}

.menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  color: white;
  margin-top: 90px;
}

.toggle {
  display: none;
}

.tabs {
  width: 200px;
  height: 75vh;
  margin-top: 85px;
  position: fixed;
  overflow-y: auto;
  z-index: 10;
}

.tabs::-webkit-scrollbar {
  width: 6px;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

.tabs::-webkit-scrollbar-track {
  background-color: #484848;
  border-radius: 20px;
}

.books-content {
  width: calc(100% - 300px);
  float: right;
  margin-top: 20px;
}

.input-bar:focus,
.input-bar:active {
  outline: none4
}

.submit {
  display: none;
}

.books-area {
  display: flex;
  flex-wrap: wrap;
  margin: 23px 50px 35px;
}

.search-bar {
  margin: 0 60px;
}

.search-container {
  width: 570px;
  padding: 10px 25px;
  border-radius: 23px;
  background-color: #e5e5e5;
}

.search-container i {
  color: #888888;
  font-size: 12px;
  margin-right: 11px;
}

.input-bar {
  background-color: #e5e5e5;
  border: 0;
  font-weight: 600;
  height: 24px;
  letter-spacing: 0.2px;
  width: 95%;
  color: #191919;
  font-size: 14px;
}

.input-bar:focus,
.input-bar:active {
  outline: none;
}

.active {
  color: white;
}

.selector {
  top: 0px;
  left: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 11px solid white;
  position: absolute;
}


h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  font-weight: bold;
}


.loginForm {
  margin-left: 14%;
  margin-bottom: 12%;
  border-color: red;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  height: 300px;
}

.welcomeTitle {
  text-align: center;

}

.headertext {
  color: rgb(182, 178, 178);
}

.new-user-link {
  margin-left: 50px;
}

.navbar {
  margin-bottom: 0%;
  background: transparent !important;
}

#user-display-page {
  background-image: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-position: bottom left;
}

.logoutStyle {
  margin-left: 2%;
  font-weight: 24px;
}

.profile-style {
  margin-left: 70%;
}

.user-search-box {
  text-align: center;
  float: center;
  margin-bottom: 5%;
}

#book-search {
  margin-top: 40px;
}

.form-inline {
  margin-left: 39%;
  margin-top: 2%;
  color: white;
}

.category {
  margin-left: 38%;
}

.title {
  color: white;
  text-align: center;
  font-weight: 700;
}

#book-search-btn {
  margin-top: 10%;
}

.info-row {
  background: lightgray;
  margin-right: 30px;
}

#books-area {
  /* overflow:scroll; */
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.search-container-2 {
  margin-left: auto;
  padding: 10px 25px;
  border-radius: 23px;
  margin-right: auto;
  margin-top: 3%;
}

.display-container {
  height: 100%;
  width: 100%;
}

.book-div {
  width: 50%;
  height: 30%;
  float: left;
  margin-bottom: 50px;
}

.book-div:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,5);
}

.text {
  float: right;
  margin: auto;
}

.mr-2 {
  color: white;
  text-align: center;
}

.mx-2 {
  margin-left: -200px;
  margin-top: -100px;
  color: white;
  text-align: center;
}

.custom-control-label {
  margin-left: -200px;
  margin-top: 80px;
}

.container {
  width: 100%;
  margin-left: 10%;
}

.my-1 mr-2 {
  margin-left: -200px;
  color: white;
  text-align: center;
  margin-top: -60px;
}

#categorydiv {
  display: none;
}
#adminSide{
  width:11rem;
  height:700px; 
  margin-left:5px;
  font-size:20px;
  float:left;
  
}
.adminMain{
  width:70rem;
  height:700px; 
  margin-left:5px;
  font-size:20px;
  float:left;
    
}
.author-container {
  color: white;
  align-items: center;
  word-spacing: 2px;
}

.col-6 {
  height: 280px;
  padding-left: 0px;
}

.info-text {
  line-height: 2;
  padding-top: 5px;
} 

.book-title {
  font-size: 20px;
  margin-top: 30px;
}